.columnDiv {
    background-color: #eee;
    margin: 0px;
    flex: 1;
}

.rowDiv {
    display: flex;
    background-color: #eee;
    flex: 1;
}

/* .drawDiv:hover {
    background-color: rgb(106, 106, 107);
} */

.drawnColumnDiv {
    background-color: rgb(106, 106, 107);
}

.totalContainer {
    display: flex;
    /* flex-basis: 960px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customizeButton {
    margin-bottom: 20px;
}

.gridDiv {
    width: 320px;
    height: 320px;
    max-width: 320px;
    max-height: 320px;
}

.tempGrid {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 320px;
    max-width: 320px;
    max-height: 320px;
    background-color: aqua;
}