.columnDiv {
    background-color: #eee;
    display: flex;
    flex: 1;
    min-width: 0;
}

.rowDiv {
    background-color: #eee;
    display: flex;    
    min-height: 0;
}

/* :root {
    --randomColor: blue;
}

.drawnColumnDiv {
    background-color: var(--randomColor);
} */

.totalContainer {
    display: flex;
    /* flex-basis: 960px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customizeButton {
    margin-bottom: 20px;
    background-color: #eee;
}

.gridDiv {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 320px;
    max-width: 320px;
    max-height: 295px;
}

.tempGrid {
    display: flex;
    flex-direction: column;
    height: 320px;
    max-height: 295px;
    min-width: 0;
}

.checkbox {
    margin-top: 30px;
    margin-bottom: -15px;
}

h1 {
    margin-bottom: 50px;
}

* {
    background-color: rgb(160, 253, 255);
}

