.columnDiv {
    background-color: #eee;
    display: flex;
    flex: 1;
    min-width: 0;
}

.rowDiv {
    background-color: #eee;
    display: flex;    
    min-height: 0;
}

.drawnColumnDiv {
    background-color: rgb(106, 106, 107);
}

.totalContainer {
    display: flex;
    /* flex-basis: 960px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customizeButton {
    margin-bottom: 20px;
}

.gridDiv {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 320px;
    max-width: 320px;
    max-height: 295px;
}

.tempGrid {
    display: flex;
    flex-direction: column;
    height: 320px;
    max-height: 295px;
    min-width: 0;
}